.GoodModal__Title {

    p {
        font-weight: 700 !important;
        color: #2f3179;
        font-size: 25px !important;
        padding-bottom: 10px !important;
        border-bottom: 2px solid #2f3179;
    }

    .GoodModal__FormSubmission {
        
    }
}