.HobbiesTotal__ {
    padding: 50px 50px;
    height: 100%;
    margin-top: 40px;

    .HobbiesTotal__TotalHobbies {
        h1 {
            font-weight: 800;
            font-size: 50px;
            color: #7733ff;
        }

        p {
            font-weight: 600;
            font-size: 20px;
            color: #2f3179;
            margin-top: 10px;
        }
    }

    .HobbiesTotal__HobbiesWentWell {
        background: white;
        padding: 40px 50px;
        border-radius: 5px;
        box-shadow: 0px 6px 0px 0px rgba(119, 51, 255, 1);
        position: relative;

        .HobbiesTotal__HobbiesWentWellGoodIcon {
            position: absolute;
            top: 15px;
            font-size: 35px;
            color: #bcbcd4;
            right: 15px;
        }
    }

    .HobbiesTotal__HobbiesWentWellText {
        h1 {
            font-weight: 800;
            font-size: 50px;
            color: #7733ff;
        }

        p {
            font-weight: 600;
            font-size: 20px;
            color: #2f3179;
            margin-top: 10px;
        }
    }

    .HobbiesTotal__HobbiesWentBad {
        background: white;
        padding: 40px 50px;
        border-radius: 5px;
        box-shadow: 0px 6px 0px 0px rgba(119, 51, 255, 1);
        position: relative;

        .HobbiesTotal__HobbiesWentGoodIcon {
            position: absolute;
            top: 15px;
            font-size: 35px;
            color: #bcbcd4;
            right: 15px;
        }
    }

    .HobbiesTotal__HobbiesWentBad {
        h1 {
            font-weight: 800;
            font-size: 50px;
            color: #7733ff;
        }

        p {
            font-weight: 600;
            font-size: 20px;
            color: #2f3179;
            margin-top: 10px;
        }
    }

    .HobbiesTotal__TotalHobbies {
        background: white;
        padding: 40px 50px;
        border-radius: 5px;
        box-shadow: 0px 6px 0px 0px rgba(119, 51, 255, 1);
        position: relative;

        .HobbiesTotal__SortIcons {
            position: absolute;
            top: 15px;
            font-size: 35px;
            color: #bcbcd4;
            right: 15px;
        }
    }

    .HobbiesTotal__ChartJS {
        background: white;
    }


}

@media screen and (max-width: 1473px) {
    .HobbiesTotal__HobbiesWentBad {
        h1 {
            font-size: 40px !important;
        }

        p {
            font-size: 17px !important;
        }
    }

    .HobbiesTotal__HobbiesWentWell {
        h1 {
            font-size: 40px !important;
        }

        p {
            font-size: 17px !important;
        }
    }

    .HobbiesTotal__TotalHobbies {
        h1 {
            font-size: 40px !important;
        }

        p {
            font-size: 17px !important;
        }
    }
}