.NavigationBar__NavBar {
  background: transparent !important;
  box-shadow: none !important;

  .NavigationBar__AppBar {
    display: flex !important;
    justify-content: space-between !important;
    padding: 15px 100px;
    position: relative;
  }

  .NavigationBar__Icon {
    display: none;
    position: absolute;
    right: 15px !important;
    top: 25px !important;
    font-size: 50px !important;
  }

  .NavigationBar__WhiteLogo {
    display: none;
  }


  img {
    width: 275px;
  }

  button {
    margin-right: 50px !important;
  }

  .Home__LinkButtons {
    color: white !important;
    font-weight: 700;
    transition: 500ms ease;
  }

  .Home__LinkButtons:hover {
    border-radius: 0px !important;
    color: rgb(221, 221, 221) !important;
  }

  .NavigationBar__LoginButton {
    background: transparent !important;
    color: white;
    font-weight: 700;
    padding: 5px 20px;
    color: #FFFF;
    letter-spacing: 2px;
    border-radius: 0px !important;
    border: 3px solid white;
    transition: 350ms ease;
  }

  .NavigationBar__LoginButton:hover {
    background: white !important;
    color: white;
    font-weight: 700;
    padding: 5px 20px;
    color: #7E2EFF;
    letter-spacing: 2px;
    border-radius: 0px !important;
    border: 3px solid white;
  }

  .NavigationBar__LogoWithout {
    width: 70px;
    display: none;
  }
}


@media screen and (max-width: 1190px) {
  .NavigationBar__AppBar {
    padding: 15px !important;
  }

  .NavigationBar__Toolbar {
    display: none !important;
  }

  .NavigationBar__Icon {
    display: block !important;
  }

  .NavigatioBar__LogoBlue {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .NavigationBar__WhiteLogo {
    display: block !important;
  }

  .NavigatioBar__LogoBlue {
    display: none !important;
  }
}

@media screen and (max-width: 700px) {
  .NavigationBar__WhiteLogo {
    display: none !important;
  }

  .NavigationBar__LogoWithout {
    display: block !important;
  }
}